body{
	background-color:rgb(204, 204, 204);
}
h1{
	text-align:center;
}
.container{
	background-color:white;
	height:100px;
	width:590px;
	padding:32px;
	border-radius:20px;
	border:1px solid black;
}
li{
	list-style-type:none;
}
h2{
	text-align:center;
	color:black;
}
.container2{
	background-color:white;
	height:500px;
	width:630px;
	border:2px solid black;
	border-radius:20px;
	align-items:center;
}
.player_one{
	width=100px;
	height=60px;
	align-items:center;
	padding:60px;
	border-radius:25px;
	background-color: rgb(255, 255, 255);
	}
.player_two{
	background-color: rgb(255, 255, 255); 
	padding50px;
	border-radius:25px;
	width:120px;
}
a{
	text-decoration-line:none;
}

