body{
	background-color:rgb(204, 204, 204);
}
h1{
	text-align:center;
}
.container{
	background-color:white;
	height:100px;
	width:590px;
	padding:32px;
	border-radius:20px;
	border:1px solid black;
}
li{
	list-style-type:none;
}
h2{
	text-align:center;
}
.container2{
	background-color:white;
	height:260px;
	width:80px;
}
